$main-color: rgba(28, 214, 255, 1);
$dark-color: rgba(61, 61, 61, 1);
$light-color: rgba(241, 239, 239, 0.575);
$width: 0px 5%;
$width-tier-2: 0px 5%;
$width-tier-3: 0px 10%;
$showcase-test-color: white;
$cover: rgba(0, 0, 0, 0.61);
$light-cover: rgba(0, 0, 0, 0);
$light-text-color: rgb(104, 104, 104);
$white-text-color: white;
$shadow: 8px 15px 20px -10px rgba(58, 56, 56, 0.164);
$div-padding: 5rem 0px;
