.skills{
    height: min-content;
    @include flexCenter(column, center, center);
    text-align: center;
    position: relative;
    padding: $div-padding;
    p{
        max-width: 400px;
    }
    .skills-box{
        width: 85%;
        max-width: 800px;
        height: 60%;
        @include flexCenter(row wrap, flex-start, space-evenly);
        margin-top: 2.7rem;
        // border: 1px solid red;
        .skill{
            // border: 1px solid blue;
            width: 6rem;
            // max-width: 250px;
            // max-width: 30%;
            height: 5rem;
            margin-bottom: 3%;
        }
        .skill.skill1{
            background: url(../../img/javascript2.png) no-repeat center center/ contain;
            // height: 25%;
            height: 4rem;
        }
        .skill.skill2{
            background: url(../../img/html.png) no-repeat center center/ contain;
            // height: 25%;
            height: 4rem;
        }
        .skill.skill3{
            background: url(../../img/css.png) no-repeat center center/ contain;
            // height: 25%;
            height: 4rem;
        }
        .skill.skill4{
            background: url(../../img/SASS.png) no-repeat center center/ contain;
            // height: 25%;
            height: 4rem;
        }
        .skill.skill5{
            background: url(../../img/React_logo.png) no-repeat center center/ contain;
            width: 9rem;
        }
        .skill.skill6{
            background: url(../../img/redux.png) no-repeat center center/ contain;
            width: 15rem;
        }
        .skill.skill7{
            background: url(../../img/nodejs.png) no-repeat center center/ contain;
            // height: 20%;
            width: 6rem;
            position: relative;
            top: 5%;
        }
        .skill.skill8{
            background: url(../../img/mongodb-logo.png) no-repeat center center/ contain;
            width: 9rem;
        }
        .skill.skill9{
            background: url(../../img/express-js-logo.png) no-repeat center center/ contain;
            width: 12rem;
        }
        .skill.skill10{
            background: url(../../img/git.png) no-repeat center center/ contain;
            width: 6rem;
            // height: 25%;
        }
        .skill.skill11{
            background: url(../../img/github.png) no-repeat center center/ contain;
            width: 6rem;
            height: 4rem;
            // height: 25%;
        }
    }
    &::before{
               position: absolute;
               content: '';
               width: 5rem;
               border: 1px solid rgba(121, 120, 120, 0.288);
               bottom: 0;
    }
}